

#table {
    outline: 4px solid black;
    width: 80%;
    margin: auto;
    height: 150px;
    background: green;
}


.numbers {
    float: left;
    height: 60%;
    width: 16.66%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    outline: 2px solid black;
    padding-top: 15px;
    color: yellow;
}

.numbers:nth-child(5){
    font-size: 35px;
}


#pass_line {
    clear: both;
    height: 20%;
    font-size: 40px;
    text-align: center;
    outline: 2px solid black;
    color: yellow;
}