
#table {
    margin-top: 50px;
    outline: 1px solid  black;
    height: 300px;
    margin-top: 10px;
}


#pass {
    outline: 1px solid green;
    text-align: center;
    width: 300px;
    -moz-transform: rotate(90deg);
    padding-left: 100px;
}
